/** Tailwind setup */

@import "tailwindcss";

@theme {
  --font-cd: var(--font-cd);

  --colors-it: #0000ff;
  --colors-highlight: #fef9c2;
  --colors-dark-gray: #d1d5dc;
  --colors-plum: #1e293b;
  --colors-gray: #f9fafb;
}

@layer components {
  .typo-link {
    text-decoration: underline;
    color: var(--colors-it);
  }

  .typo-head1,
  .typo-head2,
  .typo-head3 {
    font-family: var(--font-cd);
    text-wrap-style: balance;
    line-height: 1.25em;
  }

  .typo-head1 {
    font-size: var(--text-5xl);
    font-weight: bold;
  }

  .typo-head2 {
    font-size: var(--text-4xl);
  }

  .typo-head3 {
    font-size: var(--text-3xl);
  }
}

/** Custom styles */

em {
  font-style: normal;
  font-weight: bold;
}

/* https://stackoverflow.com/a/64127605/17279 */
mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  box-decoration-break: clone;
}
